<div class="w-full h-full flex flex-col gap-8">
    <div *ngIf="SurveyExist" class="h-14 w-full flex justify-between items-center">
        <div>
            <h3 class="text-4xl font-bold ">Surveys</h3>
            <p class="text-sm text-gray-400">An any way to manage Surveys</p>
        </div>

        <app-trigger-panels (triggerClicked)="toggleForm()" icon="matPlus"></app-trigger-panels>

    </div>
    <app-survey-list (showPanel)="toggleForm()" (isSurveyExist)="handleSurveyExist($event)"></app-survey-list>

    <app-form-survey *ngIf="FormVisible" (closeForm)="toggleFormClose()"></app-form-survey>
</div>