<table class="w-full text-sm text-left">
    <thead class="text-xs uppercase bg-gray-50">
        <tr *ngIf="type == 'question'">
            <th scope="col" class="px-6 py-3">
                id
            </th>
            <th scope="col" class="px-6 py-3">
                Question
            </th>
            <th scope="col" class="px-6 py-3">
                Type
            </th>
            <th scope="col" class="px-6 py-3">
                Answers Count
            </th>
        </tr>
        <tr *ngIf="type == 'answer'">
            <th scope="col" class="px-6 py-3">
                id
            </th>
            <th scope="col" class="px-6 py-3">
                Answer
            </th>
            <th scope="col" class="px-6 py-3">
                selectionCount
            </th>
        </tr>
    </thead>
    <tbody class="overflow-auto" *ngIf="type == 'question'">
        @for (Question of subject.questionList; track Question.id) {
        <tr (click)="showAnswerTableWithData(Question.id)" class="bg-white border-b hover:bg-gray-50">
                <td class="px-6 py-4">
                    {{Question.id}}
                </td>
                <td class="px-6 py-4">
                    {{Question.text}}
                </td>
                <td class="px-6 py-4">
                    {{Question.questionType}}
                </td>
                <td class="px-6 py-4">
                    {{Question.answerCount}}
                </td>
            
        </tr>
    }
    <!--         this is for the question adding           -->
    <tr>
        <td></td>
        <td><input [(ngModel)]="Question.text" (keydown.enter)="onEnter('question')" class="border" placeholder="Question ..." type="text"></td>
        <td>
            <select [(ngModel)]="Question.questionType">
                <option value="SINGLE_CHOICE" selected>SINGLE_CHOICE</option>
                <option value="MULTIPLE_CHOICE">MULTIPLE_CHOICE</option>
            </select>
        </td>
        <td></td>
    </tr>
    <!------------------------------------------------------->
    </tbody>

    <tbody class="overflow-auto" *ngIf="type==='answer'">
        @for (Answer of answerlist; track Answer.id) {
           <tr>
            <td class="px-6 py-4">
                {{Answer.id}}
            </td>
            <td class="px-6 py-4">
                {{Answer.text}}
            </td>
            <td class="px-6 py-4">
                {{Answer.selectionCount}}
            </td>
           </tr>
        }

        <tr>
            <td></td>
            <td><input [(ngModel)]="answerObject.text" (keydown.enter)="onEnter('answer')" type="text"></td>
            <td></td>
        </tr>
    </tbody>

</table>