
.item {
   /*box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;*/
   background: #000000;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: 1000ms ease;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.surveybutton:hover {
    transform: translateY(-10%);
}


.buttontopright {
    position: absolute;
    top: 0;
    right: 0;
    border: 3px solid white;
    border-bottom-left-radius: 20%;
}

.buttontopright::before {
    content: "";
    top: -3px;
    left: -43px;
    background-color: transparent;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 100%;
    box-shadow: 20px -20px 0 #ffffff;
}

.buttontopright::after {
    content: "";
    top: 57px;
    right: -3px;
    background-color: transparent;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 100%;
    box-shadow: 20px -20px 0 #ffffff;
}



.surveybutton{
    background: rgb(227,227,227);
    background: linear-gradient(180deg, rgba(227,227,227,1) 0%, rgba(255,255,255,1) 100%);
        transition: 1000ms ease;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
