<div class="item w-[19rem] flex flex-col h-fit rounded-lg gap-2">
    <div class="p-4 flex flex-col gap-2">
        <div class="firstRow w-full h-1/6 text-green-500">
                <span class="px-3 rounded-xl bg-[#E9F6EA]">ID:{{Survey.id}}</span>
        </div>
        <div class="middle w-full h-full flex flex-col gap-2">
            <div>
                <h1 class="font-medium">{{Survey.title}}</h1>
                <p class="text-[#6B6B72] text-sm">{{Survey.description}}</p>
            </div>
            <div class="flex flex-col gap-1">
                <p class="text-sm text-[#6e6e6e]">Survey Editions</p>
                <div class="w-full h-fit flex gap-2">
                    @for (edition of Survey.surveyEditionList; track edition.id) {
                        <button class="edition bg-[#F3F4F6] p-2 px-3 text-xs rounded-full" (click)="navigate(edition.year , edition.id)">{{edition.year}}</button>
                }
                </div>
                
            </div>
        </div>
    </div>
    <div class="border-t p-1 relative flex justify-between px-4">
        <div></div>
        <app-menu-component [type]="'survey'" [survey]="Survey"></app-menu-component>
    </div>
</div>