<div class="mainpage w-screen h-screen flex bg-[#F7F7F7]">

    <div class="mainpage-container w-full h-full flex">

        <div class="panel h-full w-1/5">
                <app-panel-admin></app-panel-admin>
        </div>

        <main class="maincontent w-full flex flex-col h-full bg-[#FFFEFD] rounded-2xl">
                <div class="topsidebar w-full h-20">

                </div>
                <div class="h-full w-full px-20 overflow-auto">
                    <router-outlet></router-outlet>
                </div>
        </main>

    </div>
   
</div>