<div class="hero w-full h-screen flex flex-col gap-10 p-20 items-center">
   <app-text-hero class="w-fit flex flex-col items-center gap-4"></app-text-hero>
  <div class="flex flex-col gap-5">
    @if (Surveys.length > 0) {
      <div class="flex gap-3">
        <app-switch-button (emitSurveyEdition)="putSurveyEditions($event)" [type]="'Surveys'" [Surveys]="Surveys"></app-switch-button>
      </div>
      @if (SurveyEdition) {
        <div class="w-full flex  gap-1">
          <button *ngIf="this.surveyEditionId" class="w-full bg-green-500 text-white p-3 shadow-lg font-bold" (click)="clickedParticipate()">Participate</button>
        <button *ngIf="this.surveyEditionId" class="w-full bg-blue-500 text-white p-3 shadow-lg font-bold" (click)="callResultPage()">Result</button>
        </div>
      }
    }@else{
      <p>No Survey</p>
    }
  </div>
</div>